<div class="middle-container">
  <button 
    *ngIf="!subscribtion"
    mat-raised-button color="primary" 
    (click)="startCounter()">
    <mat-icon>flash_on</mat-icon>
    Blixt
  </button>

  <button 
    *ngIf="subscribtion"
    mat-raised-button color="primary" 
    (click)="stopCounter()">
    <mat-icon>hearing</mat-icon>
    Åska
  </button>

  <div *ngIf="model.time" class="info">
    Tid: {{model.time | number:'1.0-1' }} s
    Avstånd: {{model.distance | distance }}
  </div>
</div>

<agm-map [latitude]="model.location.lat" [longitude]="model.location.lng" [zoom]="zoom" [streetViewControl]="streetViewControl">
  <agm-marker *ngIf="model.location.lat" [latitude]="model.location.lat" [longitude]="model.location.lng"></agm-marker>
  <agm-circle 
    *ngIf="model.location.lat" 
    [latitude]="model.location.lat" 
    [longitude]="model.location.lng" 
    [radius]=model.distance
    fillColor="#ff0000"
  ></agm-circle>
</agm-map>
