<div class="middle-container">
  <button 
    *ngIf="!subscribtion"
    mat-raised-button color="primary" 
    (click)="startCounter()">
    <mat-icon>flash_on</mat-icon>
    Blixt
  </button>

  <button 
    *ngIf="subscribtion"
    mat-raised-button color="primary" 
    (click)="stopCounter()">
    <mat-icon>hearing</mat-icon>
    Åska
  </button>

  <div *ngIf="elipsedTime" class="info">
    Tid: {{elipsedTime | number }} s
    Avstånd: {{radius | number }} m
  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="streetViewControl">
  <agm-marker *ngIf="lat" [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-circle 
    *ngIf="lat" 
    [latitude]="lat" 
    [longitude]="lng" 
    [radius]=radius 
    fillColor="#ff0000"
  ></agm-circle>
</agm-map>
